@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">
        Contact
    </div>

    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>+90 (000) 000 0000</p>

        <i class="fa fa-address-book text-primary my-3"></i>
        <p>Adres</p>

        <i class="fa fa-mail-bulk text-primary my-3"></i>
        <p>hikmetkobak@gmail.com</p>
    </div>
</div>

